
<nav class="navbar navbar-inverse bg-dark navbar-dark fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <img class="logo" src="assets/images/logo.jpeg" />
        </a>
      </div>
      <ul class="nav navbar-nav mr-auto" style=" flex-direction: row;">
        <li><a href="#" routerLink="/home">Home</a></li>
        <li ><a href="#" routerLink="/about-us">About us</a></li>
        <li ><a href="#" routerLink="/contact">Contact</a></li>
        <!-- <li ><a href="#" routerLink="/careers">Careers</a></li> -->
        <!-- <li ><a href="#" routerLink="/distributer">Distributer</a></li> -->
        <!-- <li ><a href="#" routerLink="/blogs">Blogs</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right" style=" flex-direction: row;">
        <li><a href="#" routerLink="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#" routerLink="/sign-in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>

