#contact {
    padding: 150px 0 280px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-color: #cfd6d4ef;
}

.content-detail {
    font-weight: 400;
    margin-top: 50px;
    line-height: 30px;
    font-size: 14px;
    letter-spacing: 0.4px;
}
#contact input[type=submit] {
    border: 1px solid #2b2b2b !important;
    color: #2b2b2b;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 50px;
    padding-left: 42px;
}
@media (min-width: 768px)
.col-md-12 {
    flex: 0 0 100%;
    max-width: 11%;
}
element.style {
    width: 100%;
}

element.style {
}
.col[_ngcontent-blw-c1], .col-1[_ngcontent-blw-c1], .col-10[_ngcontent-blw-c1], .col-11[_ngcontent-blw-c1], .col-12[_ngcontent-blw-c1], .col-2[_ngcontent-blw-c1], .col-3[_ngcontent-blw-c1], .col-4[_ngcontent-blw-c1], .col-5[_ngcontent-blw-c1], .col-6[_ngcontent-blw-c1], .col-7[_ngcontent-blw-c1], .col-8[_ngcontent-blw-c1], .col-9[_ngcontent-blw-c1], .col-auto[_ngcontent-blw-c1], .col-lg[_ngcontent-blw-c1], .col-lg-1[_ngcontent-blw-c1], .col-lg-10[_ngcontent-blw-c1], .col-lg-11[_ngcontent-blw-c1], .col-lg-12[_ngcontent-blw-c1], .col-lg-2[_ngcontent-blw-c1], .col-lg-3[_ngcontent-blw-c1], .col-lg-4[_ngcontent-blw-c1], .col-lg-5[_ngcontent-blw-c1], .col-lg-6[_ngcontent-blw-c1], .col-lg-7[_ngcontent-blw-c1], .col-lg-8[_ngcontent-blw-c1], .col-lg-9[_ngcontent-blw-c1], .col-lg-auto[_ngcontent-blw-c1], .col-md[_ngcontent-blw-c1], .col-md-1[_ngcontent-blw-c1], .col-md-10[_ngcontent-blw-c1], .col-md-11[_ngcontent-blw-c1], .col-md-12[_ngcontent-blw-c1], .col-md-2[_ngcontent-blw-c1], .col-md-3[_ngcontent-blw-c1], .col-md-4[_ngcontent-blw-c1], .col-md-5[_ngcontent-blw-c1], .col-md-6[_ngcontent-blw-c1], .col-md-7[_ngcontent-blw-c1], .col-md-8[_ngcontent-blw-c1], .col-md-9[_ngcontent-blw-c1], .col-md-auto[_ngcontent-blw-c1], .col-sm[_ngcontent-blw-c1], .col-sm-1[_ngcontent-blw-c1], .col-sm-10[_ngcontent-blw-c1], .col-sm-11[_ngcontent-blw-c1], .col-sm-12[_ngcontent-blw-c1], .col-sm-2[_ngcontent-blw-c1], .col-sm-3[_ngcontent-blw-c1], .col-sm-4[_ngcontent-blw-c1], .col-sm-5[_ngcontent-blw-c1], .col-sm-6[_ngcontent-blw-c1], .col-sm-7[_ngcontent-blw-c1], .col-sm-8[_ngcontent-blw-c1], .col-sm-9[_ngcontent-blw-c1], .col-sm-auto[_ngcontent-blw-c1], .col-xl[_ngcontent-blw-c1], .col-xl-1[_ngcontent-blw-c1], .col-xl-10[_ngcontent-blw-c1], .col-xl-11[_ngcontent-blw-c1], .col-xl-12[_ngcontent-blw-c1], .col-xl-2[_ngcontent-blw-c1], .col-xl-3[_ngcontent-blw-c1], .col-xl-4[_ngcontent-blw-c1], .col-xl-5[_ngcontent-blw-c1], .col-xl-6[_ngcontent-blw-c1], .col-xl-7[_ngcontent-blw-c1], .col-xl-8[_ngcontent-blw-c1], .col-xl-9[_ngcontent-blw-c1], .col-xl-auto[_ngcontent-blw-c1] {
    position: relative;
    width: 100%;
    padding-right: 50px;
    padding-left: 45px;
}