<div class="row" >
     <div class="col-md-3">
        <h3><span>Contact</span></h3>
        <p class="content-detail">
            There are four ways, and only four ways, in which we have contact with the world. We are evaluated and classified by these four contacts: what we do, how we look, what we say, and how we say it.
        </p>
     </div>

     <div class="col-md-9">
        <form class="sign-up-form">
					
            <div class="top-row">
                  <label class="col-md-4">First Name<span class="req">*</span></label>
                  <input type="text" class="col-md-7" required autocomplete="off" />
            </div>
              
            <div class="field-wrap"><label class="col-md-4">Phone No<span class="req">*</span></label>
                <input type="text" class="col-md-7" required autocomplete="off"/>
            </div>
                <div class="field-wrap"><label class="col-md-4">Email Address<span class="req">*</span></label>
                <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="Email" class="col-md-7" required autocomplete="off"/>
            </div>

            <div class="field-wrap"><label class="col-md-4">select<span class="req">*</span></label>
              <div class="col-md-4" >
                   <select name="category"  >
                  <option value="" disabled="" selected="">
                      Query Type
                  </option>            
                  <option value="Job_openings">
                      Job Openings
                  </option>    
                  <option value="Manufacturers">
                      Manufacturers
                  </option>    
                  <option value="Distributior">
                      Distributior
                  </option>    
                  <option value="Pharmacy_onboard">
                      Pharmacy Onboarding
                  </option>    
                  <option value="Internship">
                      Internship
                  </option>    
                  <option value="Complaints">
                      Complaints
                  </option>    
                  <option value="Logistics">
                      Logistics
                  </option>    
                  <option value="Media_PR">
                      Media &amp; PR
                  </option>    
                  <option value="Business_partnerships">
                      Business Partnerships
                  </option>   
                  <option value="Miscellaneous">
                      Miscellaneous
                  </option> 
                    </select>     
                </div>
            </div>
                
            
            <div style="text-align:center;">
               <button type="submit" class="button button-block">Message</button>
           </div>
        </form>
          <!-- <form>
            <div class="row">
              <div class="col-md-6" >
                  <input type="text" placeholder="Name"  required="" id="name">
              </div>
              <div class="col-md-6">
                  <input type="number" placeholder="Phone"  required="" id="phone" onkeypress="if(this.value.length==10) return false;" pattern="/^-?\d+\.?\d*$/">
              </div> -->
           <!--    <div class="col-md-6">
                  <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="Email" name="Email" required="" id="email">
              </div>
              <div class="group"> 
                <input type="text" style="display: none;" placeholder="source"value="website-main-page" required="">
              </div>  
              <div class="col-md-6" style="margin-top: 23px;">
                <select name="category"  style="width:100%">
                <option value="" disabled="" selected="">
                    Query Type
                </option>            
                <option value="Job_openings">
                    Job Openings
                </option>    
                <option value="Manufacturers">
                    Manufacturers
                </option>    
                <option value="Distributior">
                    Distributior
                </option>    
                <option value="Pharmacy_onboard">
                    Pharmacy Onboarding
                </option>    
                <option value="Internship">
                    Internship
                </option>    
                <option value="Complaints">
                    Complaints
                </option>    
                <option value="Logistics">
                    Logistics
                </option>    
                <option value="Media_PR">
                    Media &amp; PR
                </option>    
                <option value="Business_partnerships">
                    Business Partnerships
                </option>   
                <option value="Miscellaneous">
                    Miscellaneous
                </option> 
                  </select>      
              </div>
              <div class="col-md-12">Message
                <textarea name="message" rows="3" id="message"></textarea>
              </div> -->
            <!-- </div>
            <br>
          </form> -->
          <!-- <input id="sendMessage" type="submit" value="Send Message"> -->
     </div>
</div>

<footer>
        <div class="container px-5 py-5"> 
    <div class="footer-top">
            
        <div class="row" style="padding: 15px;">
          <div class="col mx-1">
                <button class="btn btn-outline-success" id="technology"><a href="https://www.facebook.com/medicento" target="_blank" data-hover="Facebook" style="font-size: 20px"><i class="fa fa-facebook-f"></i> Facebook</a></button>
          </div>
            
          <div class="col mx-1">
              <button class="btn btn-outline-success" id="marketing"><a href="https://www.instagram.com/medicento" target="_blank" data-hover="Instagram" style="font-size: 20px"><i class="fa fa-instagram"></i> Instagram</a></button>
          </div>
           
          <div class="col mx-1">
                <button class="btn btn-outline-success" id="designing"><a href="https://www.twitter.com/medicento" target="_blank" data-hover="Twitter" style="font-size: 20px"><i class="fa fa-twitter"></i> Twitter</a></button>
          </div>
              
          <div class="col mx-1">
                <button class="btn btn-outline-success" id="operation"><a href="https://api.whatsapp.com/send?phones=919999228785" target="_blank" data-hover="WhatsApp" style="font-size: 20px"><i class="fa fa-whatsapp"></i> WhatsApp</a></button>
          </div>

           <div class="col mx-1">
                <button class="btn btn-outline-success" id="operation"><a href="https://www.linkedin.com/company/13351575/" target="_blank" data-hover="LinkedIn" style="font-size: 20px"><i class="fa fa-linkedin-square"></i> LinkedIn</a></button>
           </div>
        </div>
            </div>
    </div>


    <div class="footer-bottom">
            
            <div class="row">
                <div class="col-sm-4"  style="color:aliceblue">
                  <p class="text-secondary">
                    <b>Get To Know Us </b><br> 
                    </p><hr>
                    <a href="/about-us" class="footer-link">About Us</a><br>
                    <a href="/careers" class="footer-link">Careers</a><br>
                    <a href="/dealer-locator" class="footer-link">Dealer Locator</a>
                  <p></p>
                </div>
                
                  <div class="col-sm-4" style="color:aliceblue">
                      <p class="text-secondary">
                        <b>Make Money With Us</b> <br> 
                        </p><hr>
                        <a href="/distributor-registration" class="footer-link">Sell On Medicento</a><br>
                        <a href="/pharmacy-registration" class="footer-link">Join as Pharmacy</a><br>
                        <a href="/pharmacy-login" class="footer-link">Pharmacy Login</a>
                      <p></p>
                    </div>
                    <div class="col-sm-4" style="color:aliceblue">
                      <p class="text-secondary">
                        <b>Let Us Help You</b> <br>
                        </p><hr>
                        <a href="https://play.google.com/store/apps/details?id=com.developer.medicento.retailerapp" class="footer-link">Medicento Retailer App Download</a><br>
                        <a href="" class="footer-link">Contact Us</a>
                    </div>
            </div>
    </div>
</footer>