
<div class="container">
        <img class="img-responsive" src="{{ logo.img }}" alt="" width="100%">
    <h2>Modal Example</h2>
    <!-- Trigger the modal with a button -->
    <button  type="button" style="color:rgb(2, 15, 2)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
  
    <!-- Modal -->
    <div class="modal show" id="myModal" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Distribute</h4>
            </div>

            <div class="modal-body">  
            <div class="container" bg-color:green>
                    <h2>Dynamic Pills</h2>
                    <ul class="nav nav-pills" bgcolor:darklight>
                    <li><a data-toggle="pill" href="#menu1">   Farmacy  |</a></li>
                    <li><a data-toggle="pill" href="#menu2">   Distri   |</a></li>
                    <li><a data-toggle="pill" href="#menu3">   Manufacture</a></li>
                    </ul>
                    
                    <div class="tab-content">
                        <div id="menu1" class="tab-pane fade">
                            <h3>Farmacy Detail</h3>
                            <form class="sign-up-form" style="background-color:rgb(148, 192, 192)">
                                        
                                <div class="top-row">
                                    <label class="col-md-4">Shop Name<span class="req">*</span></label>
                                    <input type="text" class="col-md-7" placeholder="Enter Shop Name" required autocomplete="off" />
                                </div>
                                <div class="top-row">
                                    <label class="col-md-4">Owner<span class="req">*</span></label>
                                    <input type="text" class="col-md-7" placeholder="Enter Owner Name" required autocomplete="off" />
                                </div>
                                    
                                <div class="field-wrap"><label class="col-md-4">Phone Number<span class="req">*</span></label>
                                        <input type="mobile" class="col-md-7" placeholder="Enter Your Phone Number" required autocomplete="off"/>
                                </div>
                        
                                <div class="field-wrap"><label class="col-md-4">Email<span class="req">*</span></label>
                                    <input type="email" class="col-md-7" placeholder="Enter Your Email id" required autocomplete="off"/>
                                </div>

                                <div class="field-wrap"><label class="col-md-4">GST Number<span class="req">*</span></label>
                                    <input type="gst" class="col-md-7" placeholder="Enter Your GST Number" required autocomplete="off"/>
                                </div>

                                <div class="field-wrap"><label class="col-md-4">DL Number<span class="req">*</span></label>
                                    <input type="dl" class="col-md-7" placeholder="Enter Your DL Number" required autocomplete="off"/>
                                </div>

                                <div class="field-wrap"><label class="col-md-4">Address<span class="req">*</span></label>
                                <input type="address" class="col-md-7" placeholder="Enter Your Address" required autocomplete="off"/>
                                </div>

                                <div class="field-wrap"><label class="col-md-4">Address Line 1<span class="req">*</span></label>
                                <input type="address" class="col-md-7" placeholder="Enter Address Line 1" required autocomplete="off"/>
                                </div>

                                <div class="field-wrap"><label class="col-md-4">Address Line 2<span class="req">*</span></label>
                                    <input type="address" class="col-md-7" placeholder="Enter Address Line 2" required autocomplete="off"/>
                                </div>
                                
                                <div class="field-wrap"><label class="col-md-4">Area<span class="req">*</span></label>
                                    <input type="area" class="col-md-7" placeholder="Enter Your Area" required autocomplete="off"/>
                                </div>
                    
                                <div class="field-wrap"><label class="col-md-4">City<span class="req">*</span></label>
                                    <input type="city" class="col-md-7" placeholder="Enter Your City" required autocomplete="off"/>
                                </div>

                                <div class="field-wrap"><label class="col-md-4">State<span class="req">*</span></label>
                                    <input type="state" class="col-md-7" placeholder="Enter Your State" required autocomplete="off"/>
                                </div>

                                <!-- <div class="field-wrap"><label class="col-md-4">Date<span class="req">*</span></label>
                                    <input type="text" id="dp1" class="span2 datepicker" placeholder="dd-mm-yyy" name="date"> <br>
                                </div> -->
                                        
                                <div style="text-align:center;">
                                <button type="submit" class="button button-block">Send</button>		
                                </div>
                            </form>
                        </div>

                        <div id="menu2" class="tab-pane fade">
                            <h3>Distri</h3>
                            <form class="sign-up-form" style="background-color:rgb(100, 80, 54)" >
                                        
                                    <div class="top-row">
                                        <label class="col-md-4">Shop Name<span class="req">*</span></label>
                                        <input type="text" class="col-md-7" placeholder="Enter Shop Name" required autocomplete="off" />
                                    </div>
                                    <div class="top-row">
                                        <label class="col-md-4">Owner<span class="req">*</span></label>
                                        <input type="text" class="col-md-7" placeholder="Enter Owner Name" required autocomplete="off" />
                                    </div>
                                        
                                    <div class="field-wrap"><label class="col-md-4">Phone Number<span class="req">*</span></label>
                                            <input type="mobile" class="col-md-7" placeholder="Enter Your Phone Number" required autocomplete="off"/>
                                    </div>
                            
                                    <div class="field-wrap"><label class="col-md-4">Email<span class="req">*</span></label>
                                        <input type="email" class="col-md-7" placeholder="Enter Your Email id" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">GST Number<span class="req">*</span></label>
                                        <input type="gst" class="col-md-7" placeholder="Enter Your GST Number" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">DL Number<span class="req">*</span></label>
                                        <input type="dl" class="col-md-7" placeholder="Enter Your DL Number" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">Address<span class="req">*</span></label>
                                    <input type="address" class="col-md-7" placeholder="Enter Your Address" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">Address Line 1<span class="req">*</span></label>
                                    <input type="address" class="col-md-7" placeholder="Enter Address Line 1" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">Address Line 2<span class="req">*</span></label>
                                        <input type="address" class="col-md-7" placeholder="Enter Address Line 2" required autocomplete="off"/>
                                    </div>
                                    
                                    <div class="field-wrap"><label class="col-md-4">Area<span class="req">*</span></label>
                                        <input type="area" class="col-md-7" placeholder="Enter Your Area" required autocomplete="off"/>
                                    </div>
                        
                                    <div class="field-wrap"><label class="col-md-4">City<span class="req">*</span></label>
                                        <input type="city" class="col-md-7" placeholder="Enter Your City" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">State<span class="req">*</span></label>
                                        <input type="state" class="col-md-7" placeholder="Enter Your State" required autocomplete="off"/>
                                    </div>
    
                                    <!-- <div class="field-wrap"><label class="col-md-4">Date<span class="req">*</span></label>
                                        <input type="text" id="dp1" class="span2 datepicker" placeholder="dd-mm-yyy" name="date"> <br>
                                    </div> -->
                                            
                                    <div style="text-align:center;">
                                    <button type="submit" class="button button-block">Send</button>		
                                    </div>
                                </form>
                        </div>
                        
                        <div id="menu3" class="tab-pane fade">
                            <h3>Manufacture</h3>
                            <form class="sign-up-form" style="background-color:rgb(58, 43, 34)">
                                        
                                    <div class="top-row">
                                        <label class="col-md-4">Shop Name<span class="req">*</span></label>
                                        <input type="text" class="col-md-7" placeholder="Enter Shop Name" required autocomplete="off" />
                                    </div>
                                    <div class="top-row">
                                        <label class="col-md-4">Owner<span class="req">*</span></label>
                                        <input type="text" class="col-md-7" placeholder="Enter Owner Name" required autocomplete="off" />
                                    </div>
                                        
                                    <div class="field-wrap"><label class="col-md-4">Phone Number<span class="req">*</span></label>
                                            <input type="mobile" class="col-md-7" placeholder="Enter Your Phone Number" required autocomplete="off"/>
                                    </div>
                            
                                    <div class="field-wrap"><label class="col-md-4">Email<span class="req">*</span></label>
                                        <input type="email" class="col-md-7" placeholder="Enter Your Email id" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">GST Number<span class="req">*</span></label>
                                        <input type="gst" class="col-md-7" placeholder="Enter Your GST Number" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">DL Number<span class="req">*</span></label>
                                        <input type="dl" class="col-md-7" placeholder="Enter Your DL Number" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">Address<span class="req">*</span></label>
                                    <input type="address" class="col-md-7" placeholder="Enter Your Address" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">Address Line 1<span class="req">*</span></label>
                                    <input type="address" class="col-md-7" placeholder="Enter Address Line 1" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">Address Line 2<span class="req">*</span></label>
                                        <input type="address" class="col-md-7" placeholder="Enter Address Line 2" required autocomplete="off"/>
                                    </div>
                                    
                                    <div class="field-wrap"><label class="col-md-4">Area<span class="req">*</span></label>
                                        <input type="area" class="col-md-7" placeholder="Enter Your Area" required autocomplete="off"/>
                                    </div>
                        
                                    <div class="field-wrap"><label class="col-md-4">City<span class="req">*</span></label>
                                        <input type="city" class="col-md-7" placeholder="Enter Your City" required autocomplete="off"/>
                                    </div>
    
                                    <div class="field-wrap"><label class="col-md-4">State<span class="req">*</span></label>
                                        <input type="state" class="col-md-7" placeholder="Enter Your State" required autocomplete="off"/>
                                    </div>
    
                                    <!-- <div class="field-wrap"><label class="col-md-4">Date<span class="req">*</span></label>
                                        <input type="text" id="dp1" class="span2 datepicker" placeholder="dd-mm-yyy" name="date"> <br>
                                    </div> -->
                                            
                                    <div style="text-align:center;">
                                    <button type="submit" class="button button-block">Send</button>		
                                    </div>
                                </form>
                        </div>
                    </div>
            </div>
        
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
      </div>
    </div>
</div>
  